.user-list-container {
    margin-top: 20px;
}

.user-list {
    list-style-type: none;
    padding: 0;
}

.user-list-item {
    margin-bottom: 5px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}