@use '/src/common/styles/colors' as *;
@use '/src/common/styles/mixin' as*;
@use '/src/common/styles/variables' as*;

.select-nat {
    padding: 10px;
    font-size: 24px;
    border: $light-color;
    border-radius: 5px;
    margin-bottom: 15px;
}