$primary-color: #67b1ed;
$secondary-color: #181043;
$light-color: #f0f0f0;
$dark-color: #847878;
$border-color: #ccc;
$error-color: red;
$blue-light-color: #007bff;
$blue-dark-color: #0056b3;

$form-background-color: #f5f5f5;
$form-border: 1px solid #ddd;
$form-padding: 20px;
$form-border-radius: 5px;
$input-padding: 10px;
$input-margin: 10px 0;
$input-border: 1px solid #ccc;
$input-border-radius: 3px;
$submit-background-color: #4c4faf;
$submit-color: #fff;
$submit-border: none;
$submit-padding: 10px 20px;
$submit-border-radius: 3px;
$submit-cursor: pointer;
$submit-hover-background-color: #2c2757;