/*
@use /src/common
 @ include
*/

@mixin borderRadius($radius){
    border-radius:$radius;
}

@mixin flexAlignment($jc, $ai){
    justify-content: jc;
    align-items: ai;
}

@mixin button-styles($bg-color, $hover-color, $active-color) {
    padding: 10px 20px;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: $bg-color;

    &:hover {
        background-color: $hover-color;
    }

    &:active {
        background-color: $active-color;
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}



