// Variables for general spacing and sizes 
// @import used next @use

$padding-light: 10px;
$padding: 20px;
$font-size-base: 16px;
$font-size-large: 24px;
$border-radius: 5px;
$border-radius-large: 10px;