.custom-loader {
  width: 50px;
  height: 50px;
  display: grid;
  animation: s4 4s infinite;
  margin: auto;

  &::before,
  &::after {
    content: "";
    grid-area: 1/1;
    border: 8px solid;
    border-radius: 50%;
    border-color: #766df4 #766df4 transparent transparent;
    mix-blend-mode: darken;
    animation: s4 1s infinite linear;
  }

  &::after {
    border-color: transparent transparent #e4e4ed #e4e4ed;
    animation-direction: reverse;
  }
}

@keyframes s4 {
  100% {
    transform: rotate(1turn);
  }
}