@use "/src/common/styles/templates" as *;

.light {
  @extend %light;
}

.dark {
  @extend %dark;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 5px;

  nav > ul {
    list-style: none;

    li {
      display: inline-block;
      margin-right: 10px;

      a {
        display: inline-block;
        padding: 10px;
      }
    }
  }

  button {
      font-size: 20px;
      /* Aumenta o tamanho da fonte do botão */
      padding:  10px;
      /* Aumenta o tamanho do botão */
    }

  img {
    height: 70px;
    padding: 10px;
    object-fit: cover;
  }

}
