@use "/src/common/styles/templates" as *;
@use '/src/common/styles/mixin' as*;


.light {
  @extend %light;
}

.dark {
  @extend %dark;
}

.header {

  @include flex-center;
  width: 100%;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 24px;

  nav>ul {
      list-style: none;
      display: flex;
      gap: 20px;
    
  
  nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }


  nav ul li a {
    text-decoration: none;
    color: #007bff;
  }

  nav ul li a.active {
    font-weight: bold;
    color: #0056b3;
  }




    li {
      display: inline-block;
      margin-right: 10px;

      a {
        display: inline-block;
        padding: 10px;
      }
    }
  }

  button {
    height: auto;
    font-size: 20px;
      /* Aumenta o tamanho da fonte do botão */
      margin-left: 100px;
      /* Aumenta o tamanho do botão */
    }

  img {
    height: 80px;
    padding: 10px;
    object-fit: cover;
  }

}
