@use '/src/common/styles/templates' as *;

 .light {
   @extend %light;
 }

 .dark {
   @extend %dark;
 }

.header {
  display: flex;
  justify-content: center;
  margin-top: 5px;

  nav>ul {
    list-style: none;

    li {
      display: inline-block;
      margin-right: 10px;

      a {
        display: inline-block;
        padding: 10px;
      }
    }
  }

  img {
    height: 70px;
    object-fit: cover;
  }
 
}