@use '/src/common/styles/colors' as*;
@use '/src/common/styles/variables' as*;


.app {
    text-align: center;
}

.main {
    padding: $padding;
    background-color: $light-color;
    min-height: 100vh;
}